services:
  # Serviço 1: O Banco de Dados
  db:
    image: postgres:latest
    container_name: postgresToDo
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: appdb
      POSTGRES_USER: dev
    ports:
      - "5432:5432" # Expõe para sua máquina local (para você acessar via DBeaver)
    volumes:
      - pgdata:/var/lib/postgresql # Persistência: não perde dados se reiniciar

  # Serviço 2: Sua API
  api:
    image: todo-api # Usa a imagem que você acabou de criar
    build: .        # Ou constrói na hora se não tiver
    container_name: todo_api
    depends_on:
      - db # Só inicia depois que o banco subir
    ports:
      - "8080:8080" # Porta externa : Porta interna
    environment:
      # Sobrescreve as configurações do appsettings.json
      - ConnectionStrings__DefaultConnection=${CONNECTION_STRING}
      - Jwt__Key=${JWT_SECRET}
      - ASPNETCORE_ENVIRONMENT=Development

  # Serviço 3 Serilog
  seq:
    image: datalust/seq:latest
    container_name: seq_todo
    ports:
      - "8081:80" # Expõe a porta 80 do container na porta 8081 da máquina host
      - "5341:5341" # Expõe a porta 5341 do container na porta 5341 da máquina host
    environment:
      ACCEPT_EULA: "Y" # Aceita o EULA automaticamente
      SEQ_FIRSTRUN_ADMINPASSWORD: "${SEQ_ADMIN_PASSWORD}" # Define a senha do admin
      #SEQ_FIRSTRUN_NOAUTHENTICATION: "true" # Desabilita autenticação para desenvolvimento
# Volume para guardar os dados do banco
volumes:
  pgdata: