name: .NET CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # JOBO 1: Integração (Testes)
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
        include-prerelease: true

    - name: Restore dependencies
      run: dotnet restore ToDoList.sln

    - name: Build
      run: dotnet build ToDoList.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test ToDo.Tests/ToDo.Tests.csproj --no-build --configuration Release

  # JOBO 2: Entrega (Docker) - Só roda se os testes passarem
  push-to-docker-hub:
    needs: build-and-test # <--- A mágica acontece aqui
    if: github.ref == 'refs/heads/main' # Só faz deploy se for na branch main
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          # Substitua 'seu-usuario' pelo seu nick real do Docker Hub
          tags: ${{ secrets.DOCKER_USERNAME }}/todo-api:latest